<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/bower_components/core-icons/social-icons.html">
<link rel="import" href="/bower_components/core-menu/core-menu.html">
<link rel="import" href="/bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">


<polymer-element name='qa-app'>
	<template>
		<style>
			:host {
				display: block;
				font-family: RobotoDraft, "Helvetica Neue", Helvetica, Arial;
				height: 100%;
			}

			core-header-panel {
				height: 100%;
			}

			core-header-panel::shadow #mainContainer {
				background: #f5f5f5;
			}

			core-toolbar {
				background: none;
			}

			core-header {
				height: 60px;
				line-height: 60px;
				font-size: 18px;
			}
		</style>

		<core-header-panel>
			<div class="core-header">
				<core-toolbar>
					<div flex>
						Firebase Q&amp;A
					</div>

					<paper-menu-button halign="right">
						<paper-icon-button icon="social:person"></paper-icon-button>

						<paper-dropdown class="dropdown" transition="">

							<core-menu class="menu">

								<paper-item on-click="{{login}}" hidden?="{{!statusKnown || user}}">Login</paper-item>

								<paper-item on-click="{{logout}}" hidden?="{{!statusKnown || !user}}">Logout</paper-item>

							</core-menu>
						</paper-dropdown>

					</paper-menu-button>

					
				</core-toolbar>
			</div>

			<div class="content">
				
			</div>
		</core-header-panel>
	</template>

	<script>
		(function() {
			'use strict';

			Polymer({

			});
		})();
	</script>
</polymenr-element>